<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>add a friend</h1>
    <form id='form'>
        <label for='fName'>first name</label>
        <input type='text' name="fName" class='fname'>
        <label for='lName'>last name</label>
        <input type='text' name="lName" class='lname'>
        <label for='gymName'>Gym</label>
        <input type='text' name="gymName"class='gname'>
        
        <button onclick = sendToDB()>Submit</button>
    </form>
    <a href='friends'>View Friends</a>
    
</body>
<script>
    const sendToDB = async () => {
        const first_name = document.querySelector('.fname').value
        const last_name = document.querySelector('.lname').value
        const gym_name = document.querySelector('.gname').value
        const combinedData = {
            fName:first_name,
            lName:last_name,
            gymName:gym_name
        }
    
  
    const submitToDB = await fetch('http://localhost:6006/new_friends',
    {
        method: 'POST',
        headers : {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(combinedData)
        
    })
    function reset() {
        document.getElementById('form').reset
    }


}
</script>
</html>